@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoSansKR-Bold';
  src: url('../assets/font/NotoSansKr/NotoSansKR-Bold.otf');
}
@font-face {
  font-family: 'NotoSansKR-Medium';
  src: url('../assets/font/NotoSansKr/NotoSansKR-Medium.otf');
}
@font-face {
  font-family: 'NotoSansKR-Regular';
  src: url('../assets/font/NotoSansKr/NotoSansKR-Regular.otf');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  overscroll-behavior-y: contain;
}

* {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

textarea {
  user-select: auto;
  border: none;
}

textarea::placeholder {
  color: rgba(204, 204, 204, 1);
}

input[type='text'] {
  user-select: auto;
  border: none;
}

::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}

:focus {
  outline: none;
}