.dim {
  animation-name: showDim;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  background: rgba(0, 0, 0, 0.4);
}

.hideDim {
  animation-name: hideDim;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  background: rgba(0, 0, 0, 0.4);
}

@keyframes showDim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideDim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
