.dim {
  background: rgba(0, 0, 0, 0.4);
  animation-name: showDim;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.hideDim {
  background: rgba(0, 0, 0, 0.4);
  animation-name: hideDim;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.popup {
  animation-name: showPopup;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.hidePopup {
  animation-name: hidePopup;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes showDim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hideDim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes showPopup {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hidePopup {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}
